@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Poppins:wght@400;500;600;700&display=swap');

//////////////////// [ HEADERS ] ////////////////////

@mixin textHeadline($font-size, $line-height) {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
}

.textHero { @include textHeadline(96px, 96px); }

.textHeadline1 { @include textHeadline(64px, 64px); }

.textHeadline2 { @include textHeadline(48px, 56px); }

.textHeadline3 { @include textHeadline(32px, 48px); }

.textHeadline4 { @include textHeadline(24px, 32px); }

//////////////////// [ BODY TEXT ] ////////////////////

@mixin textPoppins($font-weight, $font-size, $line-height) {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

.textBody {
  @include textPoppins(400, 12pt, 20px);
}

.textBodyBold {
  @include textPoppins(600, 12pt, 20px);
}


//////////////////// [ BUTTONS ] ////////////////////

.textButton {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}