@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

//////////////////// [ HEADERS ] ////////////////////

@mixin textHeadline($font-size, $line-height) {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
}

.textHero { @include textHeadline(96px, 96px); }

.textHeadline1 { @include textHeadline(64px, 64px); }

.textHeadline2 { @include textHeadline(48px, 56px); }

.textHeadline3 { @include textHeadline(40px, 48px); }

.textHeadline4 { @include textHeadline(32px, 40px); }

.textHeadline5 { @include textHeadline(24px, 32px); }

//////////////////// [ BODY TEXT ] ////////////////////

@mixin textPoppins($font-weight, $font-size, $line-height) {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

.textBodyLarge {
  @include textPoppins(400, 24px, 32px);
}

.textBodyLargeBold {
  @include textPoppins(600, 24px, 32px);
}

.textBodySmall {
  @include textPoppins(400, 16px, 24px);
}

.textBodySmallBold {
  @include textPoppins(500, 16px, 24px);
}


//////////////////// [ CAPTIONS ] ////////////////////

.textCaptionLarge {
  @include textPoppins(400, 14px, 24px);
}

.textCaptionLargeBold {
  @include textPoppins(500, 14px, 24px);
}

.textCaptionSmall {
  @include textPoppins(400, 12px, 20px);
}

.textCaptionSmallBold {
  @include textPoppins(600, 12px, 20px);
}

.hairlineLarge {
  @include textPoppins(700, 16px, 16px);
}

.hairlineSmall {
  @include textPoppins(700, 12px, 12px);
}


//////////////////// [ BUTTONS ] ////////////////////

.buttonLarge {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.buttonSmall {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}