.sorting {
  display: flex;
  gap: 8px;

  .sortButtons {
    display: flex;
    align-items: center;
    gap: 12px;

    .sortButton {
      padding: 3px 10px;
      display: flex;
      align-items: center;

      .sortButtonArrow {
        height: 100%;
        display: flex;
        align-items: center;
        transition: 0.1s;

        &_rotated {
          transform: rotate(180deg);
        }
      }

      &:hover {
        svg {
          fill: var(--neutral-7);
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .sorting {
    flex-direction: column;
  }
}