.countryItem {
  display: flex;
  gap: 20px;
  width: 100%;

  .countryItemFlag {
    width: 100px;

    img {
      width: 100%;
    }
  }

  .countryItemDetails {
    display: flex;
    flex-direction: column;

    h4 {
      margin-bottom: 8px;
    }

    .countryItemField {
      width: max-content;
    }

    .countryItemWikipediaButton {
      margin-top: 8px;
    }
  }
}


// Styles for skeleton

.countryItem {
  .countryItemSkeletonImage {
    width: 100px;
    height: 75px;
  }
  .countryItemSkeletonDetails {
    display: flex;
    flex-direction: column;

    .countryItemSkeletonTitle {
      height: 32px;
      width: 250px;
      margin-bottom: 8px;
    }

    .countryItemSkeletonField {
      height: 20px;
      width: 140px;
      margin-bottom: 4px;
    }

    .countryItemSkeletonWikipedia {
      margin-top: 4px;
      height: 34px;
      width: 155px;
    }
  }
}